.btnNameListWrapper {
    width: 220px;
    display: flex;
    flex-direction: column;

    max-height: 720px;
    overflow: auto;
}

.nameBtn {
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 6px;
}

.btnNameWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icon {
    margin-right: 18px;
}
