.mainPageWrapper {
    max-width: 1080px;
    margin: 42px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.errorWarning {
    font-family: sans-serif;
    font-size: 24px;
    text-decoration: solid;
}
